spring:
  application:
    name: media-portal-cms
  datasource:
    url: jdbc:postgresql://postgres:5432/cmsdb
    username: cmsuser
    password: cmspass
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  data:
    mongodb:
      uri: mongodb://mongodb:27017/cmsdb
  security:
    jwt:
      secret: cms-jwt-secret-key-for-media-portal-application-2024
      expiration: 86400000

server:
  port: 8080

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    enabled: true

